<button class="button button--block button--info-outline margin-bottom-md"(click)="toggleAllImages()">{{buttonTitle}}</button>
<div class="mounts">
  <ul class="mounts__list mounts__flex-1">
    <li class="mounts__list-item mounts__list-item--clickable text-center" *ngFor="let mount of data" (click)="toggleImage(mount.creatureId)" #mountListItem>
      <div class="mounts__list-content">
        <span class="mounts__flex-1">{{mount.creatureId}}</span>
        <div #mountListItem class="mounts__flex-2 mounts__list-clickable" >
          {{mount.name}}
        </div>
        <span class="mounts__flex-1 icon"><a target="_blank" href="http://www.wowhead.com/item={{mount.itemId}}/">
        &#xf2f8;</a></span>
      </div>
      <img class="margin-top-md" *ngIf="showImage && mount.creatureId === creatureId" #mountImage src="http://media.blizzard.com/wow/renders/npcs/zoom/creature{{mount.creatureId}}.jpg"
           onerror="src='../../assets/images/No_Image_Available.png'; style='background-color: black'"/>
      <img class="margin-top-md" *ngIf="showAllImages" #mountImage src="http://media.blizzard.com/wow/renders/npcs/zoom/creature{{mount.creatureId}}.jpg"
           onerror="src='../../assets/images/No_Image_Available.png'; style='background-color: black'"/>
    </li>
  </ul>
</div>
