//$grid-columns: 12;
//$grid-max-width: 960px;
//
//@mixin border-box {
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}
//
//%clearfix {
//  *zoom: 1;
//  &:before,
//  &:after {
//    content: " ";
//    display: table;
//  }
//  &:after {
//    clear: both;
//  }
//}
//
//*,
//*:after,
//*:before {
//  margin: 0;
//  padding: 0;
//  @include border-box;
//}
//
//.container {
//  margin: 0 auto;
//  width: 95%;
//  max-width: $grid-max-width;
//}
//
//.container:after,
//.row:after {
//  @extend %clearfix;
//}
//
//[class*='col-'] {
//  float: left;
//  width: 100%;
//  min-height: 1px;
//}
//
//@for $i from 1 through $grid-columns {
//  .col-sm-#{$i} {
//    width: 100% / $grid-columns * $i;
//  }
//
//  .col-sm-offset-#{$i} {
//    @media only screen and (min-width: $sm-breakpoint) {
//      margin-left: 100% / $grid-columns * $i;
//    }
//  }
//
//  .col-md-#{$i} {
//    width: 100% / $grid-columns * $i;
//  }
//
//  .col-md-offset-#{$i} {
//    @media only screen and (min-width: $md-breakpoint) {
//      margin-left: 100% / $grid-columns * $i;
//    }
//  }
//
//  .col-lg-#{$i} {
//    width: 100% / $grid-columns * $i;
//  }
//
//  .col-lg-offset-#{$i} {
//    @media only screen and (min-width: $lg-breakpoint) {
//      margin-left: 100% / $grid-columns * $i;
//    }
//  }
//}

.container-fluid {
  @include clearfix;
  width: 100%;
  overflow-x: hidden;
}

.container {
  @extend .container-fluid;
  margin: 0 auto;
  max-width: 960px;
}

.row {
  &:before, &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.col {
  float: left;
  width: 100%;
  min-height: 1px;
}

$col-1-width: 1.44%;
$col-2-width: 16.6666666667%;
$col-3-width: 25%;
$col-4-width: 33.3333333333%;
$col-5-width: 41.6666666667%;
$col-6-width: 50%;
$col-7-width: 58.3333333333%;
$col-8-width: 66.6666666667%;
$col-9-width: 75%;
$col-10-width: 83.3333333333%;
$col-11-width: 91.6666666667%;
$col-12-width: 100%;

/* ------------------------------------------------------
  SM
------------------------------------------------------ */

.col-sm-2 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    width: $col-2-width;
  }
}

.col-sm-3 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    width: $col-3-width;
  }
}

.col-sm-4 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    width: $col-4-width;
  }
}

.col-sm-5 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    width: $col-5-width;
  }
}

.col-sm-6 {
  @extend .col;
  width: $col-6-width;

  &:nth-child(2n+1) {
    padding-right: 1rem;
    clear: left;
  }
}

.col-sm-8 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    width: $col-8-width;
  }
}

// Offset
.col-sm-offset-2 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    margin-left: $col-2-width;
  }
}

.col-sm-offset-3 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    margin-left: $col-3-width;
  }
}

.col-sm-offset-4 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    margin-left: $col-4-width;
  }
}

.col-sm-offset-6 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    margin-left: $col-6-width;
  }
}

.col-sm-offset-8 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    margin-left: $col-8-width;
  }
}

.col-sm-offset-9 {
  @extend .col;

  @media only screen and (min-width: $sm-breakpoint) {
    margin-left: $col-9-width;
  }
}

/* ------------------------------------------------------
  MD
------------------------------------------------------ */

.col-md-2 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    width: $col-2-width;
  }
}

.col-md-3 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    width: $col-3-width;

    &:nth-child(4n+1) {
      padding-right: 1rem;
      clear: left;
    }
  }
}

.col-md-4 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    width: $col-4-width;
    padding-right: calc(2rem / 2);

    &:nth-child(3n) {
      padding-right: 0;
    }
  }
}

.col-md-5 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    width: $col-5-width;

    &:nth-child(2n+1) {
      clear: left;
    }
  }
}

.col-md-6 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    width: $col-6-width;

    &:nth-child(2n+1) {
      padding-right: 1rem;
      clear: left;
    }
  }
}

.col-md-7 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    width: $col-7-width;
    padding-right: 1rem;
  }
}

.col-md-8 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    width: $col-8-width;
  }
}

// Offset
.col-md-offset-2 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    margin-left: $col-2-width;
  }
}

.col-md-offset-3 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    margin-left: $col-3-width;
  }
}

.col-md-offset-4 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    margin-left: $col-4-width;
  }
}

.col-md-offset-6 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    margin-left: $col-6-width;
  }
}

.col-md-offset-8 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    margin-left: $col-8-width;
  }
}

.col-md-offset-9 {
  @extend .col;

  @media only screen and (min-width: $md-breakpoint) {
    margin-left: $col-9-width;
  }
}

/* ------------------------------------------------------
  LG
------------------------------------------------------ */

.col-lg-2 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    width: $col-2-width;
  }
}

.col-lg-3 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    width: $col-3-width;
  }
}

.col-lg-4 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    width: $col-4-width;
  }
}

.col-lg-5 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    width: $col-5-width;
  }
}

.col-lg-6 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    width: $col-6-width;
  }
}

.col-lg-8 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    width: $col-8-width;
  }
}

.col-lg-9 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    width: $col-9-width;
  }
}

// Offset
.col-lg-offset-3 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    margin-left: $col-3-width;
  }
}

.col-lg-offset-4 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    margin-left: $col-4-width;
  }
}

.col-lg-offset-6 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    margin-left: $col-6-width;
  }
}

.col-lg-offset-8 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    margin-left: $col-8-width;
  }
}

.col-lg-offset-9 {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    margin-left: $col-9-width;
  }
}

.col-lg-offset-3-half {
  @extend .col;

  @media only screen and (min-width: $lg-breakpoint) {
    margin-left: 37.5%;
  }
}

/* ------------------------------------------------------
  Hidden
------------------------------------------------------ */

.hidden-md-up {
  @media only screen and (min-width: $md-breakpoint) {
    display: none !important;
  }
}

.hidden-md-down {
  @media only screen and (max-width: $md-breakpoint) {
    display: none !important;
  }
}

.hidden-lg-down {
  @media only screen and (max-width: $lg-breakpoint) {
    display: none;
  }
}

.hidden-lg-up {
  @media only screen and (min-width: $md-breakpoint) {
    display: none !important;
  }
}

/* ------------------------------------------------------
  Flex
------------------------------------------------------ */

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-auto {

}

.flex-center-vertically {
  align-self: center;
}
