.action-sheet-overlay {
  @include page-overlay;
}

.action-sheet {
  @include reset-list;
  position: absolute;
  width: calc(100% - (2 * #{$md}));
  left: 0;
  bottom: 0;
  margin: 0 $md $md $md;
  border-radius: $border-radius;
  background: $color-white;
  z-index: 7;

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid $color-lighter-gray;
    }
  }

  &__item-link {
    display: block;
    padding: $md;
    font-size: $default-font-size;
    text-align: center;

    &--cancel {
      font-weight: bold;
    }
  }
}
