// $brand-success: #44995A;
// $brand-danger: #CD625A;

$color-brand-primary: lighten(#3A727F, 1%);
$color-brand-danger: #AF4335;
$color-brand-success: #27833F;
$color-brand-info: #6E7BAA;

$color-darker-grey: #868e96;
$color-dark-grey: #888888;
$color-light-gray: #CCCCCC;
$color-lighter-gray: #DDDDDD;
$color-blackish: #444444;
$color-white: #FFFFFF;
