// $brand-success: #44995A;
// $brand-danger: #CD625A;

$color-brand-primary: #886451;
$color-brand-danger: #885159;
$color-brand-success: #528881;
$color-brand-info: #645188;

$color-darker-grey: #868e96;
$color-dark-grey: #888888;
$color-light-gray: #CCCCCC;
$color-lighter-gray: #DDDDDD;
$color-blackish: #444444;
$color-white: #FFFFFF;
