<div class="margin-top-md">
  <div class="container">
    <div #chatWindow class="chat__window">
      <ol class="chat__list">
        <li class="chat__list--item" *ngFor="let message of chats | async" [ngClass]="{'chat__list--item--sent': message.user === user, 'chat__list--item--received': message.user !== user}">
          <ul class="chat__list" (onchange)="onListChanged()">
            <li class="chat__list--item-heading">{{message.user}}</li>
            <li class="chat__list--item-text">{{message.message}}</li>
            <li class="chat__list--item-clock">{{message.time | datepipe: message.time }}</li>
          </ul>
        </li>
      </ol>
    </div>
    <form class="form flex margin-top-md">
      <input placeholder="Say something {{ user }}!" class="form__control flex-2 margin-right-md" type="text" name="message" [(ngModel)]="message">
      <button (click)="send()" class="button button--block button--success flex-1">Send</button>
    </form>
  </div>
</div>


