<div class="updating-animation" *ngIf="loading$ |async"></div>
<div class="error-text" *ngIf="error$ | async">{{error$ | async}}</div>
<div class="container">
  <div class="text-center">
    <h1 class="no-margin-bottom heading--1">Welcome WoW-Calendar</h1>
    <h3>Powered by hustech</h3>
  </div>
  <div class="margin-top-lg">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="form" #loginForm="ngForm" novalidate>
          <div class="form__group">
            <div class="form__label__group">
              <label class="form__label-group-label">{{ 'Name of your main charecter' }}</label>
            </div>
            <input class="form__control text-capitalize" type=text name="username" autofocus
                   #username="ngModel" [(ngModel)]="name" (ngModelChange)="onUsernameChange($event)" required>
          </div>
          <div class="form__group">
            <div class="form__label-group">
              <label class="form__label-group-label">{{ 'Name of your main realm' }}</label>
            </div>
            <input class="form__control" type=text name="realm" autofocus
                   #username="ngModel" [(ngModel)]="realm" required>
          </div>
          <div class="form__group">
            <div class="form__label-group">
              <label class="form__label-group-label">{{ 'Password' }}</label>
            </div>
            <input class="form__control text-capitalize" type=password name="password" autofocus
                   #username="ngModel" [(ngModel)]="password" required>
          </div>
          <div class="flex">
            <button class="button button--secondary button--block flex-1 margin-right-md" (click)="signUp()">Sign Up</button>
            <button class="button button--primary button--block flex-1" (click)="login()" [disabled]="!loginForm.form.valid && isNotUser">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="margin-top-lg text-center heading--5">Page creator: Etiam Domum</div>
</div>
