<header class="nav nav__header" *ngIf="isAuth$ | async">
  <div class="nav__container">
    <a href="/" class="nav__logo margin-right-md"><img src="assets/images/wow-icon3.png"></a>
    <nav role="navigation">
      <ul class="nav__lg">
        <li class="nav__item"><a class="nav__link" routerLink="home" [routerLinkActive]="['nav__link--active']">Home</a></li>
        <li class="nav__item"><a class="nav__link" routerLink="chat" [routerLinkActive]="['nav__link--active']">Chat</a></li>
        <li class="nav__item hidden-md-down"><a class="nav__link" routerLink="team-calendar" [routerLinkActive]="['nav__link--active']">Calendar</a></li>
      </ul>
      <ul id="nav__logged-in-user" class="nav__logged-in-user" (click)="toggleShowSubMenu()">
        <li>
          <a>
            <div class="nav__logged-in-user-img">
              <img src="{{ profileImage }}">
            </div>
            <div class="nav__logged-in-user-name">{{username}}</div>

            <ul *ngIf="showSubMenu" class="nav__sub-menu" [ngStyle]="{ 'left': subMenuXPosition }">
              <li class="nav__sub-menu-item">
                <a class="nav__sub-menu-item-link">My Profile</a>
              </li>
              <li class="nav__sub-menu-item">
                <a class="nav__sub-menu-item-link" (click)="logout()">Logout</a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
