.alert {
  width: 100%;
}

.alert-body {
  @extend .container;
  padding: 1rem;

  @media only screen and (min-width: $md-breakpoint) {
    padding: 1rem 0;
  }
}

.alert-error {
  @extend .alert;
  color: #FFFFFF;
  background: $brand-danger;
}

.alert-error-outline {
  color: $brand-danger;
}

.alert-success-outline {
  color: $brand-success;
}

.alert-outline-link {
  color: $black;
  font-weight: bold;
  border-bottom: 1px solid $black;

  &:hover {
    cursor: pointer;
  }
}

.alert-info {
  @extend .alert;
  color: #FFFFFF;
  background: lighten($brand-primary, 2%);
}

/* -----------------------------------------------------------------
  Large alerts
  - These are used when a user has no access to an entire page.
  ----------------------------------------------------------------- */

.alert-error-large {
  @extend .empty-state;
}

.alert-error-large-icon {
  @extend .empty-state-icon;

  span {
    color: $brand-danger;
  }
}

.alert-error-large-heading {
  @extend .empty-state-heading;
  color: $black;
}

.alert-error-large-body {
  @extend .empty-state-body;
  color: $black;
}
