.button-base {
  border: 1px solid transparent;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 2px;
  text-align: center;
  transition: all 0.25s ease-out;
}

.primary-button {
  @extend .button-base;
  color: #FFFFFF;
  background: $brand-primary;

  &:active, &:visited {
    color: #FFFFFF;
    background: $brand-primary;
  }

  &:hover {
    cursor: pointer;
    background: darken($brand-primary, 10%);
  }

  &:disabled {
    background: rgba($brand-primary, 0.3);
  }
}

.primary-button-outline {
  @extend .button-base;
  color: $brand-primary;
  border: 1px solid $brand-primary;
  background: #FFFFFF;

  &:hover {
    color: #FFFFFF;
    background: $brand-primary;
  }

  &:disabled {
    color: $black;
    border-color: #CCCCCC;
    background: rgba(black, 0.07);
  }
}

.secondary-button {
  @extend .button-base;
  border: 1px solid #444444;
  color: #444444;
  background: #FFFFFF;

  &:hover {
    background: darken(#FFFFFF, 10%);
  }

  &:disabled {
    background: rgba(black, 0.07);
  }
}


.danger-button {
  @extend .button-base;
  border: 1px solid $brand-danger;
  color: #FFFFFF;
  background: $brand-danger;

  &:hover {
    background: darken($brand-danger, 10%);
  }

  &:disabled {
    background: rgba(black, 0.07);
  }
}

.danger-button-outline {
  @extend .button-base;
  color: $brand-danger;
  border: 1px solid $brand-danger;
  background: #FFFFFF;

  &:hover {
    color: #FFFFFF;
    background: $brand-danger;
  }
}

.button-block {
  display: block;
  width: 100%;
}

.button-small {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.button-icon-left {
  span {
    float: left;
  }
}

.button-icon-right {
  span {
    float: right;
  }
}

.options-button {
  padding: 0.5rem 0.8rem;
  border-radius: $border-radius;
  border: 1px solid $darker-grey;
  background: #FFFFFF;
}
