.card {
  @extend .elevate-1;
  display: block;
  border-radius: 2px;
  margin-bottom: 1rem;
  border: none;
  background: #FFFFFF;
}

.card-header {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  font-weight: bold;

  .card-header-content-object {
    flex: 1;
  }

  .card-header-options {

  }

  a {
    @extend .clearfix;
    display: block;
  }

  .card-header-img {
    @extend .rounded-img-xs;
    float: left;
    margin-right: 0.5rem;
  }

  .card-header-text {
    float: left;
    margin-top: 0.25rem;
    font-size: 0.9rem;
  }
}

.card-block {
  @extend .clearfix;
  padding: 1rem;
}

.card-text {
  margin: 0.5rem 0;
}

.card-text-detail {
  color: $brand-primary;
}

.card-footer {
  display: flex;
  padding: 0 1rem 1rem 1rem;
}

.card-footer-img {
  @extend .rounded-img-md;
  margin-top: -1rem;
  margin-right: 0.5rem;
}

.card-footer-text {
  flex: 1;
  font-size: 0.8rem;
}

.card-meta {
  margin-top: -1rem;
  padding: 0 1rem 1rem 1rem;
  font-size: 0.9rem;
}

.card-meta-btn {
  display: inline-block;
  margin-right: 2rem;

  span {
    margin-right: 0.2rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.card-liked-by {
  padding: 0 1rem 1rem 1rem;
  font-size: $font-sm;
  color: $darker-grey;
}

.card-flex-row {
  display: flex;
}

.card-flex-col {
  margin-right: 1rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.card-image-slider {
  width: 100%;
  background: rgba(#000000, 0.8);
}

.card-image-slider-number {
  position: relative;
  margin-top: -2.6rem;
  height: 2.2rem;
  padding: 0.2rem 0.5rem;
  color: #FFFFFF;
  text-align: right;
  background: rgba(#000000, 0.8);
  z-index: 4;
}

.swiper-slide {

}
