$brand-success: #27833F;
$brand-danger: #AF4335;
$brand-info: #6E7BAA;
$brand-primary: #1F1411;
$black: #444444;
$dark-gray: #888888;
$darker-grey: #868e96;
$light-gray: #CCCCCC;
$lighter-gray: #DDDDDD;
