.invitation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.invitation-item {
  @extend .card;
  @include clearfix;
  width: 100%;
  padding: 1rem;
}

.invitation-relation-title {
  @extend .muted-text;
  margin-top: $sm;
}

.invitation-item-body {
  display: flex;
}

.invitation-item-title {
  flex: 1;
}
