.list {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  @extend .clearfix;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #DDDDDD;
  background: #FFFFFF;

  //@media only screen and (min-width: 772px) {
  //  border-radius: 2px;
  //  margin-bottom: 2rem;
  //  border: none;
  //  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  //}
}

.list-item-image-left {
  .list-item-heading {
    margin-top: 0.3rem;
  }
}

.list-item-icon-right {
  display: flex;
}

.list-item-content {
  flex: 1;
}

.list-item-profile-img {
  @extend .rounded-img-md;
  float: left;
  margin-right: 1rem;
}

.list-item-text {
  float: left;
}

.list-item-heading {
  font-weight: bold;
}

.list-item-sub-heading {
  font-size: 0.8rem;
  color: $dark-gray;
}

.list-item-icon {
  font-size: 1rem;
  font-family: "Ionicons";
}

/* ------------------------------------------
  Nav List
------------------------------------------ */

.nav-list-group-heading {
  font-weight: 700;
  font-size: 0.9rem;
  color: $dark-gray;
  margin-bottom: $sm;
  margin-left: 1rem;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list-item {
  display: block;
  padding: 1rem;
  border-top: 1px solid $lighter-gray;
  background: #FFFFFF;

  &:hover {
    cursor: pointer;
  }
}
