/* ------------------------------
  Updating animation
--------------------------------- */

.updating-animation {
  position: fixed;
  display: block;
  top: $mob-header-height;
  left: 0;
  width: 0;
  height: 0.3rem;
  z-index: 999999;
  background: #ed4e6e;
  pointer-events: none;
  animation: goLeft 3s infinite;

  @media only screen and (min-width: $md-breakpoint) {
    top: $header-height;
  }
}

@-webkit-keyframes goLeft {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes goLeft {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* ------------------------------
  Spinner
--------------------------------- */

.spinner {
  width: 40px;
  height: 40px;
  margin: 5rem auto;
  background-color: $color-brand-primary;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}

/* ------------------------------
  Loader
--------------------------------- */

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  margin: 0 auto 6rem auto;
  color: $color-brand-primary;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
