.nav-wrapper {
  float: left;
  width: 20vw;
  height: 50vw;
  background: #EAB62C;
}

.nav-header {
  height: 10vw;
  background-color: #19202C;
  text-align: center;
  padding: 1em;
}

.image {
  width: auto;
  height: 100%;
}
