.tab-bar {
  @extend .clearfix;
  position: fixed;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  bottom: 0;
  height: 3rem;
  border-top: 1px solid #DDDDDD;
  background-color: darken(#FFFFFF, 2%);
  z-index: 4;
}

.tab-bar-item {
  float: left;
  width: calc(100% / 5);
}

.tab-bar-link {
  display: block;
  width: 100%;
  text-align: center;

  .icon {
    color: $black;
    font-size: 1.6rem;
  }
}

.tab-bar-link-active {
  .icon {
    color: $brand-primary;
  }
}

.tab-bar-link-badge {
  position: relative;
  padding: 0.2rem 0.5rem;
  top: -0.5rem;
  font-size: 0.9rem;
  color: #FFFFFF;
  border-radius: 30%;
  background: $brand-danger;
}
