.clearfix {
  &:after, &:before {
    display: table;
    clear: both;
    content: '';
  }
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.heading {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.padding-top-md {
  padding-top: $md;
}

.padding-bottom-md {
  padding-bottom: $md;
}

.padding-top-lg {
  padding-top: 2rem;
}

.padding-bottom-lg {
  padding-top: 2rem;
}

.padding-top-xxl {
  padding-top: 8rem;
}

.margin-top-sm {
  margin-top: $sm;
}

.margin-top-md {
  margin-top: $md;
}

.margin-top-lg {
  margin-top: $lg;
}

.margin-bottom-md {
  margin-bottom: $md;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.emphasized {
  color: $brand-primary;
}

.full-height {
  height: 100%;
}

@media only screen and (max-width: $md-breakpoint) {
  .no-padding-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.native-scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.vertically-aligned {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.primary-bg {
  background: $brand-primary;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.muted-text {
  color: $dark-gray;
}

.text-link {
  font-weight: 600;
  border-bottom: 1px solid $black;
  transition: all 0.25s ease-out;

  &:hover {
    cursor: pointer;
    color: $brand-primary;
    border-color: $brand-primary;
  }
}

.collapse {
  display: none;
}

.not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
