<div id="addButton" class="button button-block button--danger" (click)="toggleAddNew()">
  Add new
</div>
<div class="add-event-viewer" *ngIf="toggleViewer" id="blackzone">
  <div id="thebox" class="add-event-viewer__box">
    <div class="error-text" *ngIf="!validTime">Start date need's to be before end date!</div>
    <h1>Add Event</h1>
    <form class="form col-md-8 col-md-offset-2 col-sm-12 col-sm-8" #eventForm="ngForm" novalidate>

      <div class="form__group">
        <div class="form__label-group">
          <label class="form__label-group-label">Title</label>
        </div>
        <input class="form__control text-capitalize" type=text name="eventTitle" autofocus
               #eventTitle="ngModel" [(ngModel)]="event.title" required>
      </div>

      <div class="form__group">
        <div class="form__label-group">
          <label class="form__label-group-label">{{ 'Start' }}</label>
        </div>
        <app-date-picker [date]="event.start" type="datetime" (onDateChanged)="onStartDateChanged($event)" required></app-date-picker>
      </div>

      <div class="form__group">
        <div class="form__label-group">
          <label class="form__label-group-label">{{ 'End' }}</label>
        </div>
        <app-date-picker [date]="event.end" type="datetime" (onDateChanged)="onEndDateChanged($event)"  required></app-date-picker>
      </div>

      <div class="form__group">
        <div class="form__label-group">
          <label class="form__label-group-label">{{ 'Pick event color' }}</label>
        </div>
        <div class="flex" required>
          <div class="flex-1">
            <div class=" add-event-viewer__colors add-event-viewer__colors--primary" (click)="setColor('#88854')"></div>
          </div>
          <div class="flex-1">
            <div class="add-event-viewer__colors add-event-viewer__colors--danger" (click)="setColor('#882159')"></div>
          </div>
          <div class="flex-1">
            <div class="add-event-viewer__colors add-event-viewer__colors--success" (click)="setColor('#528881')"></div>
          </div>
          <div class="flex-1">
            <div class="add-event-viewer__colors add-event-viewer__colors--info" (click)="setColor('#645188')"></div>
          </div>
        </div>
      </div>

      <div class="flex">
        <button class="button button--danger-outline button--block flex-1">Cancel</button>
        <button class="button button--success button--block flex-1 margin-left-md" (click)="addNewEvent()">Add new event</button>
      </div>

    </form>

  </div>
</div>
