<div class="updating-animation" *ngIf="false"></div>
<div class="container content">

  <div class="flex">
    <div class="flex-1 margin-top-lg">
      <h1 class="text-center">Hello, {{name}}</h1>
    </div>
  </div>

  <form class="form">
    <div class="form__label-group">
      <div class="form__label-group-label margin-md">
        <label class="form__label">Realm: </label>
        <select [(ngModel)]="realm" name="Select realm" class="form__select-control">
          <option class="form__select-control-option" *ngFor="let realms of realmList" [attr.value]="realms">{{realms}}</option>
        </select>
      </div>
      <div class="form__label-group-label margin-md">
        <label class="form__label">Character name: </label>
        <input type="text" class="form__control" name="title" [(ngModel)]="name" required>
      </div>
    </div>
  </form>

    <div class="tabs margin-bottom-md">
      <div class="tab tab__item"><a (click)="setTab('mounts')" class="tab__item-link" [ngClass]="{ 'tab__item-link--selected': tab === 'mounts' }">Mounts</a></div>
      <div class="tab tab__item"><a (click)="setTab('progression')" class="tab__item-link" [ngClass]="{ 'tab__item-link--selected': tab === 'progression' }">Progression Raids</a></div>
      <div class="tab tab__item"><a (click)="setTab('titles')" class="tab__item-link" [ngClass]="{ 'tab__item-link--selected': tab === 'titles' }">Titles</a></div>
    </div>

  <div class="container">
    <div *ngIf="tab === 'mounts'">
      <app-mounts [realm]="realm" [name]="name"></app-mounts>
    </div>
    <div *ngIf="tab === 'progression'">
      <app-progression [name]="name" [realm]="realm"></app-progression>
    </div>
    <div *ngIf="tab === 'titles'">
      <app-titles [name]="name" [realm]="realm"></app-titles>
    </div>
  </div>

</div>
