<div class="container content">
  <form class="form">
    <div class="form__label-group">
      <div class="form__label-group-label margin-md">
        <label class="form__label">Realm: </label>
        <select [(ngModel)]="realm" name="Select realm" class="form__select-control">
          <option *ngFor="let realms of realmList" [attr.value]="realms">{{realms}}</option>
        </select>
      </div>
      <div class="form__label-group-label margin-md">
        <label class="form__label">Character name: </label>
        <input type="text" class="form__control" name="title" [(ngModel)]="name" required>
      </div>
    </div>
  </form>

  <div class="container">
    <div class="tabs margin-bottom-md">
      <div class="tab-item"><a (click)="setTab('mounts')" [ngClass]="{ 'tab-selected': tab === 'mounts' }">Mounts</a></div>
      <div class="tab-item"><a (click)="setTab('progression')" [ngClass]="{ 'tab-selected': tab === 'progression' }">Progression Raids</a></div>
      <div class="tab-item"><a (click)="setTab('titles')" [ngClass]="{ 'tab-selected': tab === 'titles' }">Titles</a></div>
    </div>
  </div>

  <div class="container">
    <div *ngIf="tab === 'mounts'">
      <app-mounts [realm]="realm" [name]="name"></app-mounts>
    </div>
    <div *ngIf="tab === 'progression'">
      <app-progression [name]="name" [realm]="realm"></app-progression>
    </div>
    <div *ngIf="tab === 'titles'">
      <app-titles [name]="name" [realm]="realm"></app-titles>
    </div>
  </div>

</div>
